* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  background-color: rgba(0, 0, 0, 0.15);
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 80px 1fr 50px;
  gap: 6px;
}

/* header styling */

header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 5px -1px black;
}

header h1 {
  font-size: 3rem;
}

/* game container styling */

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/* mode selection styling */
.mode-selection-container {
  width: 350px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

.modes-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 12px;
}

.mode-selection-container button {
  width: 150px;
  padding: 12px;
  outline: none;
}

/* Boards Container */
.boards-container {
  /* display: grid;
  grid-template-rows: 60px 1fr 60px;
  gap: 6px; */
}

/* details bar */
.details-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 6px;
  width: 100%;
}

.player-bot-details,
.player-player-details {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  padding: 12px;
}

.player-details,
.bot-details,
.player-one-details,
.player-two-details {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 6px;
}

.active-player {
  font-size: 1.17rem;
}

.player-bot-board-container,
.player-player-board-container {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  gap: 6px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 320px;
  width: 320px;
  margin: 6px;
  gap: 5px;
  background-color: black;
}

.cell {
  outline: none;
  border: none;
  font-size: 5.5rem;
  user-select: none;
}

.win-cell {
  background-color: green;
  color: white;
}

.cell[data-marker="X"] {
}

.cell[data-marker="O"] {
}

.cell[data-marker="-"] {
}

.game-functions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 8px 0;
}

.start-game,
.restart-game,
.mode-selection-btn {
  outline: none;
  border: 2px solid #53c722;
  background-color: #53c722;
  padding: 10px 32px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
}

/* pick color for mode-selection btn */

.restart-game {
  background-color: red;
  border-color: red;
}

.restart-game:active {
  color: red;
  background-color: #ffffff;
}

.boards-container[data-mode="none"] * {
  display: none;
}

.boards-container[data-mode="player-bot"] .player-player-board-container {
  display: none;
}

.boards-container[data-mode="player-player"] .player-bot-board-container {
  display: none;
}

/* styling for dialogs */
dialog {
  margin: auto;
  outline: none;
  border: none;
  padding: 8px;
  border-radius: 6px;
}

dialog.player-player {
}

dialog.player-bot {
}

dialog form {
}

.player-player form {
  display: grid;
  height: 200px;
  grid-template-rows: 1fr 1fr 60px;
  align-items: center;
  gap: 12px;
}

.player-bot form {
  display: grid;
  grid-template-rows: repeat(2, 1fr) 60px;
  align-items: center;
  gap: 12px;
}
/* style player-bot form better */

.player-player .row,
.player-bot .row {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.player-player label,
.player-bot label {
  padding-left: 6px;
}

.player-player input[type="text"],
.player-bot input[type="text"] {
  height: 30px;
  padding-left: 5px;
  border: 1px solid grey;
  outline: none;
}

.player-player .btn-container,
.player-bot .btn-container {
  flex-direction: row;
  justify-content: space-around;
}

.player-player .btn-container button,
.player-bot .btn-container button {
  outline: none;
  border: none;
  padding: 16px;
  border-radius: 8px;
  font-size: 0.89rem;
}

.player-player .btn-container .submit-dialog,
.player-bot .btn-container .submit-dialog {
  border: 2px solid green;
  color: white;
  background-color: green;
}

.player-player .btn-container .cancel-dialog,
.player-bot .btn-container .cancel-dialog {
  border: 2px solid red;
  color: white;
  background-color: red;
}

.player-player
  .btn-container
  .submit-dialog:active
  .player-bot
  .btn-container
  .submit:active {
  background-color: white;
  color: green;
}

.player-player .btn-container .cancel-dialog:active,
.player-bot .btn-container .cancel-dialog:active {
  background-color: white;
  color: red;
}

/* styling for icon container on page */
.icon-container {
  width: 30px;
  height: 30px;
  display: inline-block;
}

/* styling for specific icon */
.icon-container img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.hidden {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 6px;
  background-color: #ffffff;
}

footer a,
footer a:visited {
  color: black;
  text-decoration: none;
}
